@import url(../../styles/global.scss);

/* Main Modal style */

.container {
  display: block;
  margin: auto;
  width: 400px;
  height: 500px;
  padding: 20px;
}
.title {
  margin: auto;
}
.title h1 {
  color: black;
  font-size: 17px;
  margin: auto;
  text-align: center;
}
.title h2 {
  color: grey;
  font-size: small;
  text-align: center;
  margin-top: 10px;
}
.data {
  margin-top: 10%;
  width: 100%;
}
.input {
  width: 100%;
  margin-top: 5%;
}
input {
  width: 100%;
}
.checkbox {
  display: inline-flex;
  margin-top: 5%;
  margin-bottom: 5%;
  max-height: 35px;
  width: 35%;
}
span {
  color: grey;
  font-size: 14px;
  margin-top: 5%;
}