---
import Layout from '../layouts/Layout.astro';
import { Form } from 'one-ui'
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="middle">
			<Form title="Account Log In" subTitle="PLEASE LOGIN TO CONTINUE TO YOUR ACCOUNT"></Form>
		</div>
	</main>
</Layout>

<script>
	const formSubmits = document.querySelectorAll('button#submit-form');

	formSubmits.forEach((button) => {
		button.addEventListener('click', () => {
			console.log("clicked")
			window.location.href = "/"	
		})
	})



</script>

<style>
	main {
        display: flex;
        flex-direction: column;
        gap: 2rem;
		color: #fff;
		margin-top: 80px;
		height: 100%;
	}
	.middle {

	}
</style>
